/V5_V6- Static Keyword_Singleton/StaticKeyword/bin
/V4- Classes/ClassesPrac/bin
/V3- Functions/Functions/bin
/V2- Loops Array/LoopsArrays/bin
/V1- Variable Declaration/Basics/bin
/V11_Polymorphism_Practice/PolymorphismPractice/bin
/V10_Access_Modifiers_Practice/TestDLL/bin
/V10_Access_Modifiers_Practice/AccessModifiersPractice/bin
/V9_Abstraction_Interface_Practice/AbstractionPractice/bin
/V8_Virtual_Keyword_Practice/VirtualKeywordPractice/bin
/V7_V8_Inheritance_Practice/InheritancePrac/bin
/V4- Classes/ClassesPrac/obj
/V3- Functions/Functions/obj
/V2- Loops Array/LoopsArrays/obj
/V1- Variable Declaration/Basics/obj
/V11_Polymorphism_Practice/PolymorphismPractice/obj
/V10_Access_Modifiers_Practice/TestDLL/obj
/V10_Access_Modifiers_Practice/AccessModifiersPractice/obj
/V9_Abstraction_Interface_Practice/AbstractionPractice/obj
/V8_Virtual_Keyword_Practice/VirtualKeywordPractice/obj
/V7_V8_Inheritance_Practice/InheritancePrac/obj
/V5_V6- Static Keyword_Singleton/StaticKeyword/obj
